*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Cardo", serif;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1, h2, h3, a, input[type="submit"] {
  font-family: "Cinzel", serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0; }

h2, h3 {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5); }

h2 {
  font-size: 1.75em; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2.5em; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 3.5em; } }

p {
  margin: 0; }
  @media screen and (min-width: 768px) {
    p {
      font-size: 1.4em; } }

ul {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  font-size: 0.875em; }
  @media screen and (min-width: 768px) {
    a {
      font-size: 1em; } }
  a:hover {
    color: #cfb672; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.hide-text {
  text-indent: -9999px; }

.container {
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .container {
      width: 80%; } }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 1024px; } }

@media screen and (min-width: 1024px) {
  section.beer {
    padding: 6em 0; } }

@media screen and (min-width: 1024px) {
  section.about-visit {
    padding: 6em 0; } }

.button {
  border: 1px solid #cfb672;
  background: #441414;
  padding: 0.75em 0.875em;
  display: block;
  text-align: center;
  width: 80%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .button {
      width: 30%; } }
  @media screen and (min-width: 1024px) {
    .button {
      width: 40%; } }

.social li {
  display: inline-block;
  height: 1.5em;
  width: 1.5em; }
.social a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -1000em; }
  .social a.facebook {
    background: url("../img/facebook.png") no-repeat;
    background-image: url("../img/facebook.svg"), none;
    background-size: 100% auto; }
  .social a.twitter {
    background: url("../img/twitter.png") no-repeat;
    background-image: url("../img/twitter.svg"), none;
    background-size: 100% auto; }

@media screen and (min-width: 1024px) {
  form.subscribe {
    margin-bottom: 0; } }

.subscribe {
  margin-bottom: 1em; }
  @media screen and (min-width: 1024px) {
    .subscribe {
      display: inline-block;
      width: 80%; } }
  .subscribe input[type="text"] {
    color: #222;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    border: 1px solid #cfb672; }
    @media screen and (min-width: 768px) {
      .subscribe input[type="text"] {
        width: 50%;
        padding-left: 0.75em;
        text-align: left; } }
    @media screen and (min-width: 1024px) {
      .subscribe input[type="text"] {
        width: 60%;
        font-size: 0.875em; } }
  .subscribe input[type="submit"] {
    border-right: 1px solid #cfb672;
    border-top: 1px solid #cfb672;
    border-bottom: 1px solid #cfb672;
    border-left: 1px solid #cfb672;
    background: #441414;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 0.875em;
    padding: 0.75em 0; }
    @media screen and (min-width: 768px) {
      .subscribe input[type="submit"] {
        width: 20%; } }
    @media screen and (min-width: 1024px) {
      .subscribe input[type="submit"] {
        width: 30%;
        font-size: 0.75em; } }

.main-footer {
  background: #222;
  padding: 2.5em 0;
  text-align: center; }
  .main-footer .copyright {
    color: #fff;
    font-family: "Cinzel", serif;
    font-size: 0.75em; }
    @media screen and (min-width: 768px) {
      .main-footer .copyright {
        font-size: 0.875em; } }
    @media screen and (min-width: 1024px) {
      .main-footer .copyright {
        font-size: 0.875em;
        width: 34%; } }
  .main-footer .footer-right {
    margin-bottom: 1em; }
    @media screen and (min-width: 1024px) {
      .main-footer .footer-right {
        float: right;
        width: 50%;
        margin-bottom: 0; } }
  @media screen and (min-width: 1024px) {
    .main-footer .social {
      display: inline-block;
      width: 15%; } }

.google-maps {
  background: url("../img/google-map.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0; }
  .google-maps .directions {
    background: #222;
    padding: 1em 2em;
    max-width: 500px;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .google-maps .directions {
        padding: 1em 8em; } }
    @media screen and (min-width: 768px) {
      .google-maps .directions .button {
        width: 60%; } }
    @media screen and (min-width: 1024px) {
      .google-maps .directions .button {
        width: 80%; } }
    .google-maps .directions p {
      color: #fff;
      font-family: "Cinzel", serif;
      margin-bottom: 0.75em; }
      @media screen and (min-width: 1024px) {
        .google-maps .directions p {
          font-size: 1.125em; } }

.main-header {
  background-image: url("../img/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 1.45em;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .main-header {
      padding-top: 3.15em; } }
  .main-header .main-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  .main-header .logo-replace {
    display: block;
    text-indent: -9999px;
    margin: 0 auto;
    background: url("../img/conquest_logo.png") no-repeat;
    background-position: center center;
    background-size: contain;
    height: 96px;
    width: 147px; }
    @media screen and (min-width: 768px) {
      .main-header .logo-replace {
        height: 170px;
        width: 220px; } }
  .main-header h2 {
    font-size: 1.875em;
    font-weight: 300;
    text-shadow: #cfb672 0 0 7px;
    padding: 3em 0;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .main-header h2 {
        font-size: 3.8em;
        padding: 2em 0; } }
    @media screen and (min-width: 1024px) {
      .main-header h2 {
        font-size: 4.5em; } }
  .main-header nav {
    background: rgba(68, 20, 20, 0.7);
    box-shadow: #cfb672 0 0 5px;
    padding: 0.75em 0;
    position: relative; }
    @media screen and (min-width: 768px) {
      .main-header nav {
        padding: 1em 0; } }
  .main-header .menu {
    display: inline-block;
    font-size: 1em;
    z-index: 7;
    position: relative; }
    @media screen and (min-width: 768px) {
      .main-header .menu {
        font-size: 1.5em; } }
    @media screen and (min-width: 1024px) {
      .main-header .menu {
        display: none; } }
  .main-header .social {
    position: absolute;
    top: 32px;
    right: 5%;
    z-index: 888; }
    @media screen and (min-width: 768px) {
      .main-header .social {
        top: 70px;
        right: 10%; } }
    @media screen and (min-width: 1024px) {
      .main-header .social {
        top: 12px;
        right: 10%; } }
  .main-header .full-nav {
    display: none; }
    @media screen and (min-width: 1024px) {
      .main-header .full-nav {
        display: block;
        list-style: none;
        position: relative;
        height: 35px; }
        .main-header .full-nav ul {
          list-style: none;
          padding: 0; }
        .main-header .full-nav li {
          display: inline; }
        .main-header .full-nav .nav-bar {
          top: 5px; }
        .main-header .full-nav .left-side {
          position: absolute;
          left: 0;
          z-index: 100000; }
          .main-header .full-nav .left-side a {
            display: inline-block;
            padding-right: 1em;
            font-size: 0.875em; }
        .main-header .full-nav .right-side {
          position: absolute;
          right: 0;
          z-index: 100000; }
          .main-header .full-nav .right-side a {
            display: inline-block;
            padding-left: 2em;
            font-size: 0.875em; } }

.catchphrase {
  background: #441414;
  padding: 1em 0; }
  .catchphrase p {
    margin: 0;
    font-size: 0.875em;
    color: #cfb672;
    font-family: "Cinzel", serif;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .catchphrase p {
        font-size: 1.25em; } }
    @media screen and (min-width: 1024px) {
      .catchphrase p {
        font-size: 1.5em; } }

.beer-page {
  background-image: url("../img/beer-hero-image.jpg"); }
  @media screen and (min-width: 768px) {
    .beer-page {
      min-height: 400px;
      max-height: 400px; } }
  .beer-page h2 {
    padding: 1.5em;
    font-size: 2.275em; }
    @media screen and (min-width: 768px) {
      .beer-page h2 {
        padding: 2em;
        font-size: 3.5em; } }
    @media screen and (min-width: 1024px) {
      .beer-page h2 {
        padding: 1.7em;
        font-size: 4em; } }

.internal-nav {
  background: #424242; }
  .internal-nav ul {
    list-style: none; }
    @media screen and (min-width: 768px) {
      .internal-nav ul {
        text-align: center; } }
  .internal-nav li {
    padding: 0.5em 0;
    border-bottom: 1px solid #cfb672; }
    .internal-nav li:last-child {
      border-bottom: none; }
    @media screen and (min-width: 768px) {
      .internal-nav li {
        border: none;
        display: inline-block;
        padding: 1em 0;
        padding-right: 5em; }
        .internal-nav li:last-child {
          padding-right: 0; } }
  @media screen and (min-width: 768px) {
    .internal-nav a {
      font-size: 1.25em; } }

.banner {
  background: #222;
  padding: 1em 0;
  border-top: 1px solid #cfb672;
  border-bottom: 1px solid #cfb672; }
  .banner h2 {
    color: #cfb672;
    font-size: 1.5em; }
    @media screen and (min-width: 768px) {
      .banner h2 {
        font-size: 2.5em; } }

.beer-details {
  padding: 4em 0;
  border-bottom: 1px solid #cfb672; }
  .beer-details:last-child {
    border-bottom: none; }
  .beer-details h3 {
    color: #ba3737;
    font-size: 1.625em;
    text-shadow: 0.5px 0.5px 0px rgba(207, 182, 114, 0.5);
    margin-bottom: 0.25em; }
    @media screen and (min-width: 768px) {
      .beer-details h3 {
        font-size: 2.75em; } }

@media screen and (min-width: 1024px) {
  .beer-desc {
    text-align: left;
    float: left;
    width: 60%; } }
.beer-desc p {
  margin-bottom: 1em; }
  @media screen and (min-width: 1024px) {
    .beer-desc p {
      line-height: 1.8; } }

.sacred {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/sacred-heart.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.artemis {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/artemis.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.warrior {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/warrior.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.medusa {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/medusa.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.finisher {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/finisher.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.vitals {
  padding: 1em;
  border: 1px solid #cfb672;
  margin-top: 2em;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .vitals {
      padding: 1em 2em;
      width: 60%;
      margin-right: auto;
      margin-left: auto; } }
  @media screen and (min-width: 1024px) {
    .vitals {
      float: right;
      width: 31%;
      margin-top: 0; } }
  .vitals h4 {
    font-family: "Cinzel", serif;
    color: #ba3737;
    text-shadow: 0.5px 0.5px 0px rgba(207, 182, 114, 0.5);
    margin: 0 0 0.75em;
    font-size: 1.5em;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .vitals h4 {
        font-size: 2em;
        margin-bottom: 0.25em; } }
  .vitals p {
    font-size: 0.875em;
    margin-bottom: 0.5em; }
    @media screen and (min-width: 768px) {
      .vitals p {
        font-size: 1.25em;
        margin-bottom: 0.625em; } }
    @media screen and (min-width: 768px) {
      .vitals p {
        margin-bottom: 0.25em;
        font-size: 1em; } }
  .vitals .bold {
    color: #cfb672;
    font-weight: 700; }

.about-visit {
  background: linear-gradient(rgba(68, 20, 20, 0.85), rgba(68, 20, 20, 0.85)), url("../img/brewery-room.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  padding: 2em 0; }
  .about-visit h2 {
    margin-bottom: 0.5em; }
  @media screen and (min-width: 1024px) {
    .about-visit p {
      margin-bottom: 1em; } }
  .about-visit img {
    max-width: 100%;
    margin-bottom: 1em;
    border: 2px solid #cfb672; }
    @media screen and (min-width: 1024px) {
      .about-visit img {
        max-width: 90%; } }
  .about-visit .column {
    margin-bottom: 4em; }
    @media screen and (min-width: 1024px) {
      .about-visit .column {
        float: left;
        width: 46%;
        margin-right: 4em;
        margin-bottom: 0; }
        .about-visit .column:last-child {
          margin-right: 0; } }
    .about-visit .column:last-child {
      margin-bottom: 0; }

.upcoming {
  background: #222;
  padding: 2em 0; }
  .upcoming img {
    width: 200px;
    height: 200px; }
  .upcoming h3 {
    margin-bottom: 1em;
    font-size: 1.325em; }
    @media screen and (min-width: 768px) {
      .upcoming h3 {
        font-size: 2em; } }
  @media screen and (min-width: 1024px) {
    .upcoming .button {
      width: 30%; } }
  .upcoming .event {
    margin-bottom: 2em; }
    @media screen and (min-width: 768px) {
      .upcoming .event {
        width: 50%;
        float: left; } }
    @media screen and (min-width: 1024px) {
      .upcoming .event {
        width: 33.3%;
        float: left; } }
    .upcoming .event p {
      font-size: 0.875em;
      margin-bottom: 0.75em; }
      .upcoming .event p:first-child {
        margin-bottom: 0; }

.beer {
  background: linear-gradient(rgba(66, 66, 66, 0.85), rgba(66, 66, 66, 0.85)), url("../img/tap-handles.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  padding: 2em 0; }
  .beer h2 {
    margin-top: 1em;
    font-size: 2.325em; }
    @media screen and (min-width: 768px) {
      .beer h2 {
        font-size: 3.325em; } }
    @media screen and (min-width: 1024px) {
      .beer h2 {
        margin-top: 0; } }
  .beer p {
    margin-bottom: 1.5em; }
    @media screen and (min-width: 1024px) {
      .beer p {
        width: 75%;
        margin-left: auto;
        margin-right: auto; } }
  .beer .button {
    margin-bottom: 2em; }
    @media screen and (min-width: 768px) {
      .beer .button {
        margin-bottom: 4em; } }
    @media screen and (min-width: 1024px) {
      .beer .button {
        width: 20%; } }
  .beer img {
    width: 60%;
    margin-bottom: 0.75em; }
    @media screen and (min-width: 1024px) {
      .beer img {
        width: 80%; } }
  .beer .beer-shield {
    margin-bottom: 3em;
    display: block; }
    .beer .beer-shield:first-child {
      margin-top: 3em; }
    @media screen and (min-width: 1024px) {
      .beer .beer-shield {
        margin-bottom: 0; } }
    @media screen and (min-width: 768px) {
      .beer .beer-shield {
        width: 50%;
        float: left; }
        .beer .beer-shield:first-child {
          margin-top: 0; } }
    @media screen and (min-width: 1024px) {
      .beer .beer-shield {
        width: 25%; } }
    .beer .beer-shield p {
      font-size: 1.5em; }
      @media screen and (min-width: 1024px) {
        .beer .beer-shield p {
          font-size: 1em; } }

.beer-page {
  background-image: url("../img/beer-hero-image.jpg"); }
  @media screen and (min-width: 768px) {
    .beer-page {
      min-height: 400px;
      max-height: 400px; } }
  .beer-page h2 {
    padding: 1.5em;
    font-size: 2.275em; }
    @media screen and (min-width: 768px) {
      .beer-page h2 {
        padding: 2em;
        font-size: 3.5em; } }
    @media screen and (min-width: 1024px) {
      .beer-page h2 {
        padding: 1.7em;
        font-size: 4em; } }

.internal-nav {
  background: #424242; }
  .internal-nav ul {
    list-style: none; }
    @media screen and (min-width: 768px) {
      .internal-nav ul {
        text-align: center; } }
  .internal-nav li {
    padding: 0.5em 0;
    border-bottom: 1px solid #cfb672; }
    .internal-nav li:last-child {
      border-bottom: none; }
    @media screen and (min-width: 768px) {
      .internal-nav li {
        border: none;
        display: inline-block;
        padding: 1em 0;
        padding-right: 5em; }
        .internal-nav li:last-child {
          padding-right: 0; } }
  @media screen and (min-width: 768px) {
    .internal-nav a {
      font-size: 1.25em; } }

.banner {
  background: #222;
  padding: 1em 0;
  border-top: 1px solid #cfb672;
  border-bottom: 1px solid #cfb672; }
  .banner h2 {
    color: #cfb672;
    font-size: 1.5em; }
    @media screen and (min-width: 768px) {
      .banner h2 {
        font-size: 2.5em; } }

.beer-details {
  padding: 4em 0;
  border-bottom: 1px solid #cfb672; }
  .beer-details:last-child {
    border-bottom: none; }
  .beer-details h3 {
    color: #ba3737;
    font-size: 1.625em;
    text-shadow: 0.5px 0.5px 0px rgba(207, 182, 114, 0.5);
    margin-bottom: 0.25em; }
    @media screen and (min-width: 768px) {
      .beer-details h3 {
        font-size: 2.75em; } }

@media screen and (min-width: 1024px) {
  .beer-desc {
    text-align: left;
    float: left;
    width: 60%; } }
.beer-desc p {
  margin-bottom: 1em; }
  @media screen and (min-width: 1024px) {
    .beer-desc p {
      line-height: 1.8; } }

.sacred {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/sacred-heart.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.artemis {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/artemis.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.warrior {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/warrior.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.medusa {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/medusa.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.finisher {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/finisher.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; }

.vitals {
  padding: 1em;
  border: 1px solid #cfb672;
  margin-top: 2em;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .vitals {
      padding: 1em 2em;
      width: 60%;
      margin-right: auto;
      margin-left: auto; } }
  @media screen and (min-width: 1024px) {
    .vitals {
      float: right;
      width: 31%;
      margin-top: 0; } }
  .vitals h4 {
    font-family: "Cinzel", serif;
    color: #ba3737;
    text-shadow: 0.5px 0.5px 0px rgba(207, 182, 114, 0.5);
    margin: 0 0 0.75em;
    font-size: 1.5em;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .vitals h4 {
        font-size: 2em;
        margin-bottom: 0.25em; } }
  .vitals p {
    font-size: 0.875em;
    margin-bottom: 0.5em; }
    @media screen and (min-width: 768px) {
      .vitals p {
        font-size: 1.25em;
        margin-bottom: 0.625em; } }
    @media screen and (min-width: 768px) {
      .vitals p {
        margin-bottom: 0.25em;
        font-size: 1em; } }
  .vitals .bold {
    color: #cfb672;
    font-weight: 700; }

.details-page {
  background: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url("../img/sacred-heart.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (min-width: 768px) {
    .details-page {
      min-height: 400px;
      max-height: 400px; } }
  .details-page h2 {
    padding: 1.5em 0;
    font-size: 2.275em; }
    @media screen and (min-width: 768px) {
      .details-page h2 {
        padding: 1.8em 0;
        font-size: 3.5em; } }
    @media screen and (min-width: 1024px) {
      .details-page h2 {
        padding: 1.7em 0;
        font-size: 4em; } }

.full-details {
  padding: 3em 0;
  color: #222;
  background: linear-gradient(rgba(86, 78, 33, 0.5), rgba(86, 78, 33, 0.5)), url("../img/ricepaper2.png"); }
  .full-details .beer-stats {
    margin-bottom: 2em; }
    @media screen and (min-width: 768px) {
      .full-details .beer-stats {
        margin-bottom: 2.5em; } }
    @media screen and (min-width: 1024px) {
      .full-details .beer-stats {
        float: left;
        width: 40%;
        margin-bottom: 0; } }
  .full-details .beer-bottle {
    width: 40%; }
    @media screen and (min-width: 768px) {
      .full-details .beer-bottle {
        float: left;
        width: 23%; } }
    @media screen and (min-width: 1024px) {
      .full-details .beer-bottle {
        width: 32%; } }
  @media screen and (min-width: 768px) {
    .full-details .vitals-social {
      float: right;
      width: 70%; } }
  @media screen and (min-width: 1024px) {
    .full-details .vitals-social {
      width: 66%;
      margin-bottom: 1em; } }
  .full-details .ratings {
    display: block;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 0.875em; }
  .full-details .ratebeer {
    background-image: url("../img/ratebeer.gif"); }
  .full-details .beeradvocate {
    background-image: url("../img/beeradvocate.gif"); }
  .full-details .vitals {
    margin-top: 0;
    border: 2px solid #ccc;
    background: #222;
    margin-bottom: 0.875em; }
    @media screen and (min-width: 768px) {
      .full-details .vitals {
        width: 100%; } }
    @media screen and (min-width: 1024px) {
      .full-details .vitals {
        margin-bottom: 0.275em; } }
    .full-details .vitals h4 {
      background: #441414;
      border: 1px solid #ccc;
      color: #cfb672;
      text-shadow: 0.5px 0.5px #222; }
      @media screen and (min-width: 1024px) {
        .full-details .vitals h4 {
          font-size: 1.25em; } }
    .full-details .vitals p {
      color: #fff; }
      @media screen and (min-width: 1024px) {
        .full-details .vitals p {
          font-size: 0.75em;
          margin-bottom: 0.75em; }
          .full-details .vitals p:last-child {
            margin-bottom: 0; } }
  @media screen and (min-width: 768px) {
    .full-details .share {
      width: 107%; } }
  @media screen and (min-width: 1024px) {
    .full-details .share {
      clear: both; } }
  .full-details .share-button {
    display: block;
    min-height: 50px;
    max-height: 50px;
    color: #fff;
    padding: 1em;
    margin-bottom: 0.875em; }
    @media screen and (min-width: 768px) {
      .full-details .share-button {
        width: 31%;
        display: inline-block;
        padding: 0.825em; } }
    @media screen and (min-width: 1024px) {
      .full-details .share-button {
        width: 49%;
        display: inline-block;
        padding: 0.875em; } }
  .full-details .facebook {
    background: #2c5a9e; }
  .full-details .twitter {
    background: #3e86f1; }
  @media screen and (min-width: 1024px) {
    .full-details .beer-description {
      float: right;
      width: 51%; } }
  .full-details .beer-description .quote {
    font-family: "Cinzel", serif;
    font-size: 1.25em;
    margin-bottom: 1em; }
    @media screen and (min-width: 768px) {
      .full-details .beer-description .quote {
        font-size: 1.75em; } }
    @media screen and (min-width: 1024px) {
      .full-details .beer-description .quote {
        font-size: 1.25em; } }
  .full-details .beer-description p {
    margin-bottom: 1em; }
    @media screen and (min-width: 1024px) {
      .full-details .beer-description p {
        font-size: 1em; } }
  .full-details .beer-description .detail-button {
    display: block;
    min-height: 50px;
    max-height: 50px;
    color: #fff;
    padding: 1em;
    margin-bottom: 0.875em; }
    @media screen and (min-width: 1024px) {
      .full-details .beer-description .detail-button {
        display: inline-block;
        width: 49%;
        font-size: 0.875em; } }
  .full-details .beer-description .back {
    background: #777; }
  .full-details .beer-description .buy {
    background: #441414; }

/*# sourceMappingURL=main.css.map */
