// =======================
// Base
// =======================


// Box Sizing
*, *:before, *:after {
  box-sizing: border-box;
}


// General
body {
    font-family: $bodytext;
    color: $white;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;

    @media screen and (min-width: 600px){
      font-size: 1.2em;
    }
}
h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

h1, h2, h3, a, input[type="submit"] {
	font-family: $headings;
	color: $white;
	text-transform: uppercase;
  margin: 0;
}

h2, h3 {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2em;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    font-size: 0.875em;

    &:hover {
        color: $gold;
    }
}


// Clearfix
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}


// Visually Hidden
.visually-hidden {
	position: absolute;
    top: -9999px;
    left: -9999px;
}

//Hide Text
.hide-text {
	text-indent: -9999px;
}


// Container
.container {
  width: 90%;
  margin: 0 auto;
}







