// =======================
// Variables
// =======================


// Google Font Import
@import url(http://fonts.googleapis.com/css?family=Cinzel|Cardo:400,400italic,700);


// Fonts
$headings: 'Cinzel', serif;
$links: 'Cinzel', serif;
$bodytext: 'Cardo', serif;


// Colors
$red: #441414;
$gold: #cfb672;
$white: #fff;
$black: #222;