// =======================
// Beer
// =======================

.beer {
	background:
		linear-gradient(
	      rgba(#424242, 0.85), 
	      rgba(#424242, 0.85)
	    ),
	    url('../img/tap-handles.jpg') no-repeat;
	background-size: cover;
	height: 100%;
	padding: 2em 0;

	p {
		margin-bottom: 1.5em;
	}

	.button {
		margin-bottom: 2em;

		@media screen and (min-width: 768px) {
    		margin-bottom: 4em;
    	}

    	@media screen and (min-width: 1024px) {
    		width: 20%;
    	}
	}

	img {
		width: 60%;
		margin-bottom: 0.75em;
		-webkit-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow:    0px 7px 20px 0px rgba(0, 0, 0, 0.8);
		box-shadow:         0px 7px 20px 0px rgba(0, 0, 0, 0.8);
	}

	.beer-shield {
		margin-bottom: 3em;
		display: block;

		@media screen and (min-width: 1024px) {
    		margin-bottom: 0;
    	}

		@media screen and (min-width: 768px) {
    		width: 50%;
    		float: left;
    	}

    	@media screen and (min-width: 1024px) {
    		width: 25%;
    	}

    	p {
    		@media screen and (min-width: 1024px) {
    			font-size: 1em;
    		}
    	}
	}
}