// =======================
// OUR BEER
// =======================

.beer {
	background:
		linear-gradient(
	      rgba(#424242, 0.85), 
	      rgba(#424242, 0.85)
	    ),
	    url('../img/tap-handles.jpg') no-repeat;
	background-size: cover;
	height: 100%;
	padding: 2em 0;

	h2 {
		margin-top: 1em;
		font-size: 2.325em;

		@media screen and (min-width: 768px) {
    		font-size: 3.325em;
    	}

    	@media screen and (min-width: 1024px) {
    		margin-top: 0;
    	}
	}

	p {
		margin-bottom: 1.5em;

		@media screen and (min-width: 1024px) {
    		width: 75%;
    		margin-left: auto;
    		margin-right: auto;
    	}
	}

	.button {
		margin-bottom: 2em;

		@media screen and (min-width: 768px) {
    		margin-bottom: 4em;
    	}

    	@media screen and (min-width: 1024px) {
    		width: 20%;
    	}
	}

	img {
		width: 60%;
		margin-bottom: 0.75em;

		@media screen and (min-width: 1024px) {
    		width: 80%;
    	}
	}

	.beer-shield {
		margin-bottom: 3em;
		display: block;

		&:first-child {
			margin-top: 3em;
		}

		@media screen and (min-width: 1024px) {
    		margin-bottom: 0;
    	}

		@media screen and (min-width: 768px) {
    		width: 50%;
    		float: left;

    		&:first-child {
    			margin-top: 0;
    		}
    	}

    	@media screen and (min-width: 1024px) {
    		width: 25%;
    	}

    	p {
    		font-size: 1.5em;
    		@media screen and (min-width: 1024px) {
    			font-size: 1em;
    		}
    	}
	}
}
