// =======================
// Beer
// =======================


// Beer Page Header

.beer-page {
	background-image: url('../img/beer-hero-image.jpg');

	@media screen and (min-width: 768px) {
		min-height: 400px;
		max-height: 400px;
	}
	

	h2 {
		padding: 1.5em;
		font-size: 2.275em;

		@media screen and (min-width: 768px) {
			padding: 2em;
			font-size: 3.5em;
		}

		@media screen and (min-width: 1024px) {
			padding: 1.7em;
			font-size: 4em;
		}
	}
}





// Internal Nav
.internal-nav {
	background: #424242;

	ul {
		list-style: none;
		@media screen and (min-width: 768px) {
			text-align: center;
		}

	}

	li {
		padding: 0.5em 0;
		border-bottom: 1px solid $gold;
		&:last-child {
			border-bottom: none;
		}

		@media screen and (min-width: 768px) {
			border: none;
			display: inline-block;
			padding: 1em 0;
			padding-right: 5em;
			&:last-child {
				padding-right: 0;
			}
		}
	}

	a {
		@media screen and (min-width: 768px) {
			font-size: 1.25em;
		}
	}
}








// Availibility Banners

.banner {
	background: $black;
	padding: 1em 0;
	border-top: 1px solid $gold;
	border-bottom: 1px solid $gold;

	h2 {
		color: $gold;
		font-size: 1.5em;

		@media screen and (min-width: 768px) {
			font-size: 2.5em;
		}
	}
}












// Beer Details 

.beer-details {
	padding: 4em 0;
	border-bottom: 1px solid $gold;
	&:last-child {
		border-bottom: none;
	}

	h3 {
		color: lighten($red, 30%);
		font-size: 1.625em;
		text-shadow: 0.5px 0.5px 0px rgba($gold, 0.5);
		margin-bottom: 0.25em;

		@media screen and (min-width: 768px) {
			font-size: 2.75em;
		}
	}
}

.beer-desc {


	@media screen and (min-width: 1024px) {
		text-align: left;
		float: left;
		width: 60%;
	}

	p {
		margin-bottom: 1em;

		@media screen and (min-width: 1024px) {
			line-height: 1.8;
		}
	}
}

.sacred {
	background:
	linear-gradient(
      rgba($black, 0.7), 
      rgba($black, 0.7)
    ),
    url('../img/sacred-heart.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.artemis {
	background:
	linear-gradient(
      rgba($black, 0.7), 
      rgba($black, 0.7)
    ),
    url('../img/artemis.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.warrior {
	background:
	linear-gradient(
      rgba($black, 0.7), 
      rgba($black, 0.7)
    ),
    url('../img/warrior.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.medusa {
	background:
	linear-gradient(
      rgba($black, 0.7), 
      rgba($black, 0.7)
    ),
    url('../img/medusa.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.finisher {
	background:
	linear-gradient(
      rgba($black, 0.7), 
      rgba($black, 0.7)
    ),
    url('../img/finisher.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.vitals {
	padding: 1em;
	border: 1px solid $gold;
	margin-top: 2em;
	text-align: left;

	@media screen and (min-width: 768px) {
		padding: 1em 2em;
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	@media screen and (min-width: 1024px) {
		float: right;
		width: 31%;
		margin-top: 0;
	}

	h4 {
		font-family: $headings;
		color: lighten($red, 30%);
		text-shadow: 0.5px 0.5px 0px rgba($gold, 0.5);
		margin: 0 0 0.75em;
		font-size: 1.5em;
		text-align: center;

		@media screen and (min-width: 768px) {
			font-size: 2em;
			margin-bottom: 0.25em;
		}
	}

	p {
		font-size: 0.875em;
		margin-bottom: 0.5em;

		@media screen and (min-width: 768px) {
			font-size: 1.25em;
			margin-bottom: 0.625em;
		}

		@media screen and (min-width: 768px) {
			margin-bottom: 0.25em;
			font-size: 1em;
		}
	}

	.bold {
		color: $gold;
		font-weight: 700;
	}
}









