// =======================
// Catchphrase
// =======================

.catchphrase {
	background: $red;
	padding: 1em 0;

	p {
		margin: 0;
		font-size: .875em;
		color: $gold;
		font-family: $headings;
		text-transform: uppercase;
	}
}