// =======================
// Google Maps
// =======================

.google-maps {
	background: url('../img/google-map.jpg') no-repeat;
	background-size: cover;
	padding: 50px 0;

	.directions {
		background: $black;
		padding: 1em 2em;
		max-width: 500px;
		margin: 0 auto;

		@media screen and (min-width: 1024px) {
      		padding: 1em 8em;
    	}

		.button {
			@media screen and (min-width: 768px) {
      			width: 60%;
    		}

    		@media screen and (min-width: 1024px) {
	      		width: 80%;
    		}
		}

		p {
			color: $white;
			font-family: $headings;
			margin-bottom: 0.75em;

			@media screen and (min-width: 1024px) {
	      		font-size: 1.125em;
    		}
		}
	}
}