// =======================
// Google Maps
// =======================

.google-maps {
	background: url('../img/google-map.jpg') no-repeat;
	background-size: cover;
	padding: 50px 0;

	.directions {
		background: $black;
		padding: 1em 2em;
		max-width: 500px;
		margin: 0 auto;

		p {
			color: $white;
			font-family: $headings;
			margin-bottom: 0.75em;
		}
	}
}