// =======================
// Homepage Header
// =======================

.main-header {
	background: url('../img/hero-image.jpg') -125px 0 no-repeat;
	background-size: cover;
	min-height: 358px;
	height: 100%;

	h2 {
		font-size: 1.75em;
		font-weight: thin;
	}

	.main-nav {
		display: none;
	}

}