// =======================
// Upcoming
// =======================

.upcoming {
	background: $black;
	padding: 2em 0;

	img {
		width: 200px;
		height: 200px;
	}

	h3 {
		margin-bottom: 1em;
		font-size: 1.325em;

		@media screen and (min-width: 768px) {
    		font-size: 2em;
    	}
	}

	.button {
		@media screen and (min-width: 1024px) {
    		width: 30%;
    	}
	}

	.event {
		margin-bottom: 2em;

		@media screen and (min-width: 768px) {
    		width: 50%;
    		float: left;
    	}

    	@media screen and (min-width: 1024px) {
    		width: 33.3%;
    		float: left;
    	}

		p {
			font-size: 0.875em;
			margin-bottom: 0.75em;

			&:first-child {
				margin-bottom: 0;
			}
		}
	}
}