// =======================
// Button
// =======================

.button {
	border: 1px solid $gold;
	background: $red;
	padding: 0.75em 0.875em;
	display:block;
	text-align: center;
	width: 80%;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
    	width: 30%;
    }

    @media screen and (min-width: 1024px) {
    	width: 40%;
    }
}