// =======================
// Newsletter Sign up
// =======================

.subscribe {
	margin-bottom: 1em;

	input[type="text"] {
		color: $black;
		width: 100%;
		text-align: center;
		padding: 0.5em 0;
		margin-bottom: 0.5em;
		border: 1px solid $gold;

		@media screen and (min-width: 768px) {
	    	width: 50%;
	    	padding-left: 0.75em;
	    	text-align: left;
	    }
	}

	input[type="submit"] {
		border-right: 1px solid $gold;
		border-top: 1px solid $gold;
		border-bottom: 1px solid $gold;
		border-left: 1px solid $gold;
		background: $red;
		text-align: center;
		width: 50%;
		margin: 0 auto;
		font-size: 0.875em;
		padding: 0.75em 0;

		@media screen and (min-width: 768px) {
	    	width: 20%;
	    }
	}
}