// =======================
// Social
// =======================

.social {

	
	li {
		display: inline-block;
		height: 1.5em;
		width: 1.5em;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -1000em;

		&.facebook {
			background: url('../img/facebook.png') no-repeat;
			background-image: url('../img/facebook.svg'), none;
			background-size: 100% auto;

		}

		&.twitter {
			background: url('../img/twitter.png') no-repeat;
			background-image: url('../img/twitter.svg'), none;
			background-size: 100% auto;
		}
	}
}